<div class="w-full md:w-[650px] bg-white rounded-lg shadow p-6 mb-8"> 
    <div class="flex items-center">
        <!-- avatar circle -->
        <div class="flex-shrink-0 mr-5">
            <div class="cursor-pointer 
            font-bold
            w-12 
            h-12 
            bg-gray-300
            flex
            items-center
            justify-center
            rounded-full">
                f
            </div>
     
        </div>
            <!-- message -->
            <div class="flex-1">
                <p class="text-sm whitespace-pre-wrap break-word" style="word-break: break-word;">{{TweetMessage}}</p>

            </div>

    </div>

</div>
