<div class="bg-white shadow">
  <div class="container mx-auto px-4 py-2 md>py-3">
    <div class="flex justify-between items-center ">
      <!-- Twitter Tittle -->
      <div class="flex justifty-between text-lg md:text-xl font-bold p-1">
        <img src="assets/twitter-logo.png" class="w-8 h-8">
        <h1>Twitter</h1>
      </div>
      <!-- User -->
      <div class="relative">
        <div class="
                  cursor-pointer
                  w-10
                  h-10
                  bg-blue-200
                  text-blue-600
                  flex
                  items-center
                  justify-center
                  rounded-full
                 
                  ">D
        </div>
      </div>
    </div>
  </div>
</div>
